<div class="checkbox-demo-row">
  <div class="input-demo radio-demo row">
    <div class="col-xs-6">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="opt_Account" ng-model="current.opt_Account" id="opt_AccountDefault" value="renamed_admin">
        <span>Default Account</span>
      </label>
    </div>
    <div class="col-xs-6">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="opt_Account" ng-model="current.opt_Account" id="opt_AccountOther" value="other">
        <span>Other Account</span>
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <div ng-switch="current.opt_Account">
    <div ng-switch-when="renamed_admin">
      <input type="text" class="form-control" id="txt_Account" value="{{current.opt_Account}}" readonly="yes">
    </div>
    <div ng-switch-when="other">
      <input type="text" class="form-control" id="txt_Account" placeholder="Account Name...">
    </div>
  </div>
</div>

<div class="checkbox-demo-row">
  <div class="input-demo checkbox-demo row">
    <div class="col-md-12">
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" id="chk_Account" ng-model="current.chk_Account">
        <span>Batch Mode</span>
      </label>
    </div>
  </div>
</div>


<div ng-switch="current.chk_Account">
  <div ng-switch-when="true">
<div class="input-group">
  <span class="input-group-btn">
      <button id="btn_BatchBrowse" class="btn btn-primary btn-with-icon" type="button"><i class="ion-folder"></i>Browse</button>
  </span>
  <input type="text" class="form-control with-primary-addon" placeholder="Browse for file...">
  <span class="input-group-btn">
      <button id="btn_BatchRun" class="btn btn-primary btn-with-icon" type="button">
        <span>Run</span>
        <span>&nbsp;</span>
        <span><i class="ion-play"></i></span>
      </button>
  </span>
</div>
</div>
  <div ng-switch-when="false">
<div class="input-group">
  <input type="text" class="form-control with-danger-addon" placeholder="Hostname...">
  <span class="input-group-btn">
    <button id="btn_SingleRun" class="btn btn-primary btn-with-icon" type="button">
      <span>Run</span>
      <span>&nbsp;</span>
      <span><i class="ion-play"></i></span>
    </button>
  </span>
</div>
</div>
</div>